<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Magazento_Insale>
            <version>0.0.1</version>
        </Magazento_Insale>
    </modules>
    
    <global>
        <blocks>
            <insale>
                <class>Magazento_Insale_Block</class>
            </insale>
            <reports>
                <rewrite>
                    <product_viewed>Magazento_Insale_Block_Product_Viewed</product_viewed>
                </rewrite>
            </reports>            
            <checkout>
                <rewrite>
                    <cart_crosssell>Magazento_Insale_Block_Cart_Crosssell</cart_crosssell>
                    <cart_sidebar>Magazento_Insale_Block_Cart_Sidebar</cart_sidebar>                    
                </rewrite>
            </checkout>            
        </blocks>
        <helpers>
            <insale>
                <class>Magazento_Insale_Helper</class>
            </insale>
        </helpers>
        <models>
            <insale>
                <class>Magazento_Insale_Model</class>
            </insale>   
        </models>        
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <insale>
                                            <title>Magazento_Insale</title>
                                        </insale>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>   
    
    <default>
        <insale>
            <general>
                <ajaxcart_enabled>1</ajaxcart_enabled>
                <logo>logo.png</logo>                        
                <logo_small>logo-small.png</logo_small>                        
                <logo_mini>logo-mini.png</logo_mini>                
                <googlefonts>PT Sans</googlefonts>                
                <color1>#fe5252</color1>                
                <color2>#fe6b6b</color2>                
                <color3>#f0525d</color3>                
            </general>
        </insale>
    </default>      
    
</config>