/**
 * Skin
 */

 /*======Site Bg=======*/
.content-wrapper{background-color:#e0e0e0;}



/*======Skin Color #1=======*/
header#header .top-cart .block-title a#cartHeader span.price,
.header-slider-container .iosSlider .slider .item h3 a,
.home-banner-block a,
.slider-container .slider-text-box a,
.block-account li strong,
.dashboard .box-info .box .box-content a,
#checkout-step-login .first-col h4,
.opc .active .step-title h2,
.catalog-product-view .box-reviews .form-add h3 span,
.products-grid  button span span,
.block-poll .block-subtitle,
.block-list li.item .product-name a:before,
#categories-accordion li.level-top.opened a.level-top,
#footer .footer-block a.more,
#footer .footer-block ul.tweets li a,
.product-name a:hover,
#footer .footer-block h4,
.price{color:#ec5d5d;}

#footer .block-subscribe .input-box button > span,
.fancybox-close,
aside.sidebar section header.active .sidebar-marker,
#footer .footer-links-box.mob,
#footer .active .mobile-marker,
header#header .nav-container > ul .menu-item-button.active,
.header-slider-container .iosSlider .prev:hover,
.header-slider-container .iosSlider .next:hover,
.products-list li.item .fancybox,
.products-grid li.item .fancybox,
.block-account li.current span.marker,
.dashboard .box-info .box .box-title a,
aside.sidebar section.block-progress dt.complete a,
.my-wishlist .link-edit:hover,
.cart .crosssell .next:hover,
.cart .crosssell .prev:hover,
.cart .totals .totals-title,
.btn-remove2:hover,
.cart-table .cart-edit:hover,
.cart-table .link-wishlist:hover,
.catalog-product-view .box-reviews .data-table thead,
.meigee-tabs li.active a,
.meigee-tabs li.active a:hover,
.product-view .product-shop .email-friend > span,
.toolbar-bottom .pager .pages ol li.current span,
.link-compare > span,
.link-wishlist > span,
.pager .pages li a.i-previous,
.pager .pages li a.i-next,
.sorter .sort-by a,
.block-wishlist .prev:hover,
.block-wishlist .next:hover,
aside.sidebar .actions a,
.btn-remove:hover,
.block-layered-nav dl#layered_navigation_accordion dt.closed .btn-nav,
#categories-accordion li.level-top.parent.closed .btn-cat,
#categories-accordion li.level-top.parent .btn-cat.closed,
#footer .block-subscribe .input-box button:hover > span,
/*#nav > li.active,
#nav > li.over,*/
header#header .top-cart .product-box .price-qty,
button.button > span,
header#header .dropdown-links ul,
header#header .dropdown-links .dropdown-links-title
{background-color:#c21941;}



/*======Skin Color #2=======*/
aside.sidebar section header .sidebar-marker,
.product-view .product-prev,
.product-view .product-next,
header#header .nav-container > ul .menu-item-button,
/*#toTop,*/
.header-slider-container .iosSlider .prev,
.header-slider-container .iosSlider .next,
.slider-container .prev,
.slider-container .next,
.block-account li span.marker,
.opc .active .step-title .number,
.my-wishlist .link-edit,
.my-account .buttons-set2 .btn-share span,
.my-account .buttons-set2 .btn-add span,
.cart .crosssell .next,
.cart .crosssell .prev,
.btn-remove2,
.cart-table .cart-edit,
.cart-table .link-wishlist,
.cart-table .btn-continue span,
.cart-table .btn-clear span,
.block-related .prev,
.block-related .next,
.meigee-tabs a:hover,
.product-view .product-shop .product-type-block .email-friend:hover > span,
.my-wishlist input.quantity-decrease,
.my-wishlist input.quantity-increase,
.add-to-cart input.quantity-decrease,
.add-to-cart input.quantity-increase,
.cart-table input.quantity-decrease,
.cart-table input.quantity-increase,
.more-views .prev, 
.more-views .next,
header#header .top-cart .block-title .cart-icon,
.link-compare:hover > span,
.link-wishlist:hover > span,
.pager .pages li a.i-previous:hover,
.pager .pages li a.i-next:hover,
.sorter .sort-by a:hover,
.block-wishlist .prev,
.block-wishlist .next,
.btn-remove,
.block-layered-nav dl#layered_navigation_accordion dt .btn-nav,
#categories-accordion li.level-top.parent .btn-cat,
#footer .footer-main-block .site-container,
header#header .top-cart .block-content button.button:hover > span
{background-color:#6fcde4;}

#login-form .form-list input:focus{border-color:#d5e14d;}


/**
 * Skin
 */